// colors

$purple: rgba(30,41,50,1);  // #1b2631; // purple 
$red: rgba(193,74,72,1); // #C14A48
$yellow: rgba(255, 212,87,1); // #f4bd89; // yellow
$green: rgba(153,186,84,1); // #c06c69; // salmon
$purple2: rgba(113,73,91,1); // #71495b; // purple 2
$purple3: rgba(191,105,192,1); // #bf69c0; // purple 3
$blue: #699ec0; // blue
$white: #ffffff; // white

// colors

$color-1: #3e253c; // purple 1
$color-2: #71495b; // purple 2
$color-3: #f4bd89; // yellow
$color-4: #c06c69; // salmon
$color-5: #bf69c0; // purple 3
$color-6: #699ec0; // blue
$color-7: #ffffff; // white

// fonts 


// icons sizes

$icon-small-height: 50px;
$icon-small-width: 56px;
$icon-large-height: 325px;
$icon-large-width: 420px;




// icons sizes

$icon-small-height: 50px;
$icon-small-width: 56px;
$icon-large-height: 325px;
$icon-large-width: 420px;

// Font Variables

$fontBld:'Quicksand', sans-serif;
$fontMdm:'Quicksand' sans-serif;
$fontRg:'Quicksand', sans-serif;
$fontLt:'avenirLight';


